# Default ignored files
/shelf/
**/target/*
/workspace.xml
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.gitignore
/compiler.xml
/encodings.xml
/jarRepositories.xml
/misc.xml
/uiDesigner.xml
/vcs.xml
/modules.xml
